*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
button{
    font-size: 300px;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
button:hover{
    text-shadow: 4px 0 red ,0 4px red,4px 0 red,0 -4px red;
}
p{
    display: none;
}
button:hover p{
    display: flex;
    font-size: 30px;
    width: 300px;
    text-shadow: -1px 0 white ,0 1px white,1px 0 white,0 -1px white;

    height: 50px;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
}
.heart{
    position: fixed;
    top: -1vh;
    font-size: 20px;
    animation:heartrain 2s linear forwards ;
    transition:transform 3s;
}
@keyframes heartrain {
    to{
        transform: translateY(105vh);
    }
}