* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

button {
    font-size: 300px;
    background-color: white;
    border-radius: 50%;
    border: none;
    outline: none;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}



p {
    display: none;
}


.rain {
    position: fixed;
    top: -1vh;
    font-size: 20px;
    animation: heartrain 4s linear forwards;
    transition: transform 3s;
}

@keyframes heartrain {
    to {
        transform: translateY(800px);
    }
}